:root {
  --project-background-color: transparent;
  --project-faded-background-color: transparent;
}

.header {
  align-items: center;
  background-color: var(--project-faded-background-color, transparent);
  border-bottom: var(--border-dotted, 1px dotted #929292);
  display: flex;
  padding-block: 5px;
  padding-inline: 10px;
  position: relative;

  .active & {
    background-color: var(--project-background-color, transparent);
    color: var(--color-text-default, #000);
    font-weight: 700;
    text-transform: uppercase;
  }

  @media (hover: hover) {
    cursor: pointer;

    &:hover {
      color: var(--color-text-default, #000);
      background-color: var(--project-background-color, transparent);
    }
  }
}

.headerNonInteractive {
  @media (hover: hover) {
    cursor: default;

    &:hover {
      background-color: var(--project-faded-background-color, transparent);
    }
  }
}

.left {
  flex: 0 0 var(--list-item-left-element-width);
  align-self: flex-start;
  font-size: 13px;
}

.center {
  color: currentColor;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  font-weight: 400;
  font-size: 13px;

  .active & {
    font-weight: 700;
  }
}

.right {
  flex: 0 0 var(--list-item-right-element-width);
  text-align: end;
  font-size: 13px;

  /* .active & {
    font-weight: 700;
  } */
}

.link {
  position: absolute;
  inset: 0;
  z-index: 50;
  display: block;
}

@media only screen and (max-width: 767px) {
  .header {
    padding-inline-end: 13px;
  }

  .right {
    display: none;
  }
}
