a {
  color: var(--link-color, #929292);
  transition:
    color 150ms ease,
    background-color 150ms ease;
}

a:hover,
a:focus {
  background-color: var(--hover-color);
  color: var(--hover-text-color, #000);
  text-decoration: none;
}
