
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]), [hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
  color: #222;
}

button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection, ::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

a {
  &:focus {
    outline: thin dotted;
  }

  &:hover, &:active {
    outline: 0;
  }
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;

  &:before, &:after {
    content: "";
    content: none;
  }
}

small {
  font-size: 85%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav {
  ul, ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure, form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
  }
}

button[disabled] {
  cursor: default;
}

input {
  &[disabled] {
    cursor: default;
  }

  &[type="checkbox"], &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
  }

  &[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: black;
  padding: .2em 0;
}

.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;

  br {
    display: none;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: "(" attr(href) ")";
    }
  }

  abbr[title]:after {
    content: "(" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: .5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

/******* /css/fonts.css *********/
@font-face {
  font-family: 'museo_regular';
  src: url('/assets/fonts/museosans_500-webfont.eot');
  src: url('/assets/fonts/museosans_500-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/museosans_500-webfont.woff') format("woff"), url('/assets/fonts/museosans_500-webfont.ttf') format("truetype"), url('/assets/fonts/museosans_500-webfont.svg#museo_sans_500regular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_bold';
  src: url('/assets/fonts/museosans_700-webfont.eot');
  src: url('/assets/fonts/museosans_700-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/museosans_700-webfont.woff') format("woff"), url('/assets/fonts/museosans_700-webfont.ttf') format("truetype"), url('/assets/fonts/museosans_700-webfont.svg#museo_sans_700regular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'our_webfontregular';
  src: url('/assets/fonts/ourwebfont-webfont.eot');
  src: url('/assets/fonts/ourwebfont-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/fonts/ourwebfont-webfont.woff') format("woff"), url('/assets/fonts/ourwebfont-webfont.ttf') format("truetype"), url('/assets/fonts/ourwebfont-webfont.svg#our_webfontregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

/******* /css/main.less *********/

html, body {
  background-color: white;
  width: 100%;
  height: 100%;
  color: #929292;
  font-family: 'museo_regular';
  font-size: 12px;
  letter-spacing: .1em;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, li, ul, ol {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  color: #929292;
}

h1 {
  font-size: 12px;
  font-family: 'museo_bold';
  letter-spacing: 3px;
  float: left;

  &.main-title {
    font-size: 24px;
  }
}

a {
  text-decoration: none;
  color: #929292;

  &.active, &:hover {
    color: black;
  }
}

.i {
  font-family: 'our_webfontregular';
}

#container {
  margin: 0 117px;
  min-height: 100%;
}

header.main-header {
  padding: 55px 10px 40px;

  h1 {
    padding-bottom: 10px;
  }

  .categories-selector {
    float: right;
    padding-top: 6px;

    a {
      padding: 0 0 10px 16px;
      margin-right: 24px;
      position: relative;
      display: block;
      float: left;

      &.last {
        margin-right: 0;
      }

      &.active .check {
        display: block;
      }

      span {
        position: absolute;
        left: 0;
        top: 0;
      }

      .check {
        display: none;
      }

      .square {
        color: #929292;
      }
    }
  }
}

.list {
  border-top: 1px dotted #929292;

  .separator {
    height: 27px;
    border-bottom: 1px dotted #929292;
  }

  .list-item-header {
    position: relative;
    padding: 5px 110px;
    border-bottom: 1px dotted #929292;

    &:hover {
      color: black;
    }

    .at {
      padding: 0 10px;
    }
  }

  .active {
    .list-item-header {
      color: black;
      text-transform: uppercase;
      font-family: 'museo_bold';
    }

    .list-item-details {
      display: block;
    }
  }

  .list-item-center {
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
  }

  .list-item-left {
    position: absolute;
    left: 0;
    top: 5px;
    padding-left: 10px;
    z-index: 1;
  }

  .list-item-right {
    position: absolute;
    right: 0;
    top: 5px;
    padding-right: 10px;
    z-index: 1;
  }

  .list-item-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 50;
    display: block;
  }

  .list-item-details {
    background-color: #c1ccc6;
    display: none;

    .paragraph {
      border-bottom: 1px dotted #929292;
      padding: 10px 10px 0 10px;
      position: relative;
    }

    .paragraph-title {
      color: Black;
    }

    .details-left {
      position: absolute;
      width: 115px;
      left: 10px;
      top: 10px;
      min-height: 16px;
    }

    .details-right {
      margin: 0 0 10px 100px;
      min-height: 16px;

      a.textpage-link {
        display: block;
      }
    }

    .paragraph-images {
      margin-bottom: 0;

      img {
        margin: 0 8px 10px 0;
      }
    }
  }
}

footer {
  text-align: right;
  padding: 5px 0 40px 10px;
  font-size: 10px;
}

.js .img-loader-init {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
}

.img-loader-loading {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.img-loader-loaded {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.ie .list-item-link, .lt-ie9 .list-item-link {
  background: url("/assets/iefix.png") 0 0 repeat;
}

.text {
  color: black;

  p {
    color: black;
  }
}

/******* /css/details.less *********/

.detail-page {
  color: Black;
  padding-bottom: 0;

  p, li, ul, ol {
    color: Black;
    font-size: 20px;
  }

  .text-content {
    padding: 0 125px 75px 125px;
    font-size: 20px;
  }

  header {
    color: #929292;
    padding: 20px 0 10px;

    .year, .subtitle {
      font-size: 12px;
    }

    .back {
      font-size: 12px;
      position: absolute;
      right: 20px;
      top: 10px;
    }
  }

  figure, .video-container {
    text-align: center;
  }

  .video-wrapper {
    min-width: 350px;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
  }

  .video-container {
    position: relative;
    padding-bottom: 63%;
    height: 0;
    overflow: hidden;

    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  figure a {
    display: inline-block;
  }

  nav {
    text-align: center;
    font-family: 'museo_bold';
    font-size: 12px;
    margin-bottom: 5px;
    color: #929292;

    .arrow {
      font-size: 17px;
      padding: 0 5px;
    }
  }

  .bottom {
    padding-top: 10px;
  }

  .legend {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 12px;

    p {
      font-size: 12px;
    }
  }

  h1 {
    font-family: 'museo_regular';
  }
}

.js .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0 10px 0;
}

/******* /css/responsive.less *********/
@media only screen and (max-width: 320px) {
  .js .bottom {
    position: relative;
    padding-bottom: 10px;
  }

  #container {
    margin: 0 15px;
  }

  .list .list-item-header {
    padding-right: 13px;
  }

  .detail-page {
    .text-content {
      padding: 75px 0;
    }

    header {
      text-align: center;

      a.back {
        float: none;
        position: relative;
        right: auto;
        top: auto;
      }
    }

    h1 {
      float: none;
      text-align: center;
      padding-bottom: 12px;

      .subtitle {
        display: block;
      }
    }

    .bottom .legend {
      width: inherit;
    }
  }

  header.main-header {
    text-align: center;

    h1 {
      text-align: center;
      float: none;
      white-space: nowrap;
      font-size: 20px;
    }

    .categories-selector {
      float: none;
      text-align: center;

      a {
        display: inline;
        float: none;
      }
    }
  }

  .media-small-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-small-hidden {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-small-show {
    display: block;
  }

  .media-small-hide {
    display: none;
  }
}

@media only screen and (min-width: 319px) and (max-width: 767px) {
  .js .bottom {
    position: relative;
    padding-bottom: 10px;
  }

  #container {
    margin: 0 15px;
  }

  .list .list-item-header {
    padding-right: 13px;
  }

  .detail-page {
    .text-content {
      padding: 75px 0;
    }

    header {
      text-align: center;

      a.back {
        float: none;
        position: relative;
        right: auto;
        top: auto;
      }
    }

    h1 {
      float: none;
      text-align: center;
      padding-bottom: 12px;

      .subtitle {
        display: block;
      }
    }

    .bottom .legend {
      width: inherit;
    }
  }

  header.main-header {
    text-align: center;

    h1 {
      text-align: center;
      float: none;
      white-space: nowrap;
      font-size: 20px;
    }

    .categories-selector {
      float: none;
      text-align: center;

      a {
        display: inline;
        float: none;
      }
    }
  }

  .media-phone-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-phone-hidden {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-phone-show {
    display: block;
  }

  .media-phone-hide {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #container {
    margin: 0 50px;
  }

  .media-tablet-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-tablet-hidden {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-tablet-show {
    display: block;
  }

  .media-tablet-hide {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .media-laptop-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-laptop-hidden {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-laptop-show {
    display: block;
  }

  .media-laptop-hide {
    display: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1999px) {
  #container {
    width: 966px;
    margin: 0 auto;
  }

  .media-desktop-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-desktop-hidden {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-desktop-show {
    display: block;
  }

  .media-desktop-hide {
    display: none;
  }
}

@media only screen and (min-width: 2000px) {
  #container {
    width: 966px;
    margin: 0 auto;
  }

  .media-big-visible {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-big-hidden {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    -ms-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
  }

  .media-big-show {
    display: block;
  }

  .media-big-hide {
    display: none;
  }
}
