.header {
  padding: 55px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-bold, "museo_bold", sans-serif);
  font-size: var(--font-size-title, 24px);
  letter-spacing: var(--letter-spacing-title, 3px);
  padding-bottom: 10px;
}

.categoriesWrapper {
  display: flex;
  gap: 25px;
}

.category {
  padding-block: 5px 3px;
  padding-inline: 5px;
  letter-spacing: 0.1em;

  @media (hover: hover) {
    &:hover {
      background-color: var(--category-color, transparent);
      color: var(--color-text-default);
    }
  }
}

.categoryActive {
  background-color: var(--category-color, transparent);
  color: var(--color-text-default);
}

/* .mainTitle {
} */
