.figure {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: top center;
}

.previousButton,
.nextButton {
  inset-block: 0;
  position: absolute;
  width: 50%;
}

.previousButton {
  inset-inline-start: 0;
}

.nextButton {
  inset-inline-end: 0;
}
