.header {
  padding: 57px 10px 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--font-bold, "museo_bold", sans-serif);
  font-size: var(--font-size-title, 24px);
  letter-spacing: var(--letter-spacing-title, 3px);
  text-box: trim-both;
}

.categoriesWrapper {
  display: flex;
  gap: 40px;
}

.category {
  padding-block: 4px 3px;
  padding-inline: 5px;
  letter-spacing: 0.1em;

  @media (hover: hover) {
    &:hover {
      background-color: var(--category-color, transparent);
      color: var(--color-text-default);
    }
  }
}

.categoryActive {
  background-color: var(--category-color, transparent);
  color: var(--color-text-default);
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
  }

  .title {
    font-size: 20px;
    padding-block-end: 16px;
  }

  .categoriesWrapper {
    gap: 20px;
  }
}
